{% extends 'backendbase.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'backendhome' %}">Home</a></li>
              <li class="breadcrumb-item active">Add Course</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid"> 
        <!-- Small boxes (Stat box) -->
        <div class="row">
            
            
            <div class="col-md-9 mx-auto">
                <div class="card card-primary card-outline">
                  <div class="card-header">
                    <h3 class="card-title">Add Course:</h3>
                  </div>
                  <!-- /.card-header -->
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Category</label>
                        {{form.category}}
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Course Name</label>
                        {{form.name}}
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Image</label>
                        {{form.image}}
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        {{form.description}}
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Fee</label>
                        {{form.fee}}
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Duration</label>
                        {{form.duration}}
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Students</label>
                        {{form.students}}
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Entry Requirements</label>
                        {{form.entry_requirements}}
                      </div>
                      
                      <div class="form-group">
                        <label for="exampleInputPassword1">Exam Body</label>
                        {{form.exam_body}}
                      </div>
                      
                      <div class="form-group">
                        <label for="exampleInputEmail1">Other Requirements</label>
                        {{form.other_requirements}}
                      </div>
                    </div>
                    <!-- /.card-body -->
    
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">Add Course</button>
                    </div>
                  </form>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->


          </div>
          <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

{% endblock %}