{% extends 'base.html' %}
{% load static %}
{% load social_share %}

{% block content %}

 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>Blog Detail</h2>
           <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>            
            <li class="active">Blog Detail</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-blog-single">
                  <div class="row">
                    <div class="col-md-12">
                      <article class="mu-blog-single-item">
                        <figure class="mu-blog-single-img">
                          <a href="#"><img alt="img" src="{{blog.image.url}}"></a>
                          <figcaption class="mu-blog-caption">
                            <h3><a href="#">{{blog.title}}</a></h3>
                          </figcaption>                      
                        </figure>
                        <div class="mu-blog-meta">
                          <a href="#">By {{blog.last_name}} {{blog.first_name}}</a>
                          <a href="#"> | On {{blog.created_at}}</a>
                          <span><i class="fa fa-clock-o"></i>{{blog.created_at|timesince}} ago</span>
                        </div>
                        <div class="mu-blog-description">
                          <blockquote>
                            <p>{{blog.description}}</p>                            
                          </blockquote>  
                        </div>
                        <!-- start blog social share -->
                        <div class="mu-blog-social">
                          <ul class="mu-news-social-nav">
                            <li>SOCIAL SHARE :</li>
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                          </ul>
                        </div>
                        <!-- End blog social share -->
                      </article>
                    </div>                                   
                  </div>
                </div>
                <!-- end course content container -->
                
                
              </div>
              <div class="col-md-3">
                <!-- start sidebar -->
                <aside class="mu-sidebar">
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Categories</h3>
                    <ul class="mu-sidebar-catg">
                        {% for category in categories %}
                        <li><a href="{% url 'blogcategory' category.id %}">{{category}}</a></li>
                        {% endfor %}
                    </ul>
                  </div>
                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Popular News</h3>
                    <div class="mu-sidebar-popular-courses">
                        {% for blog in popular %}
                        <div class="media">
                          <div class="media-left">
                            <a href="{% url 'blogdetail' blog.id %}">
                              <img class="media-object" src="{{blog.image.url}}" alt="img">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="{% url 'blogdetail' blog.id %}">{{blog.title}}</a></h4>                      
                          </div>
                        </div>
                        {% endfor %}
                    </div>
                  </div>
                  <!-- end single sidebar -->
                </aside>
                <!-- / end sidebar -->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

{% endblock %}