{% extends 'backendbase.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'backendhome' %}">Home</a></li>
              <li class="breadcrumb-item active">Delete Staff</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid"> 
        <!-- Small boxes (Stat box) -->
        <div class="row">
            
            
            <div class="col-md-9 mx-auto">
                <div class="card card-primary card-outline">
                  <div class="card-header">
                    <h3 class="card-title text-danger">Are you sure you want to delete this staff? </h3>
                  </div>
                  <!-- /.card-header --> 
                    <div class="card-body">
                      <div class="form-group">
                        <p> Username: {{staff.username}}</p><br/>
                        <p> First Name: {{staff.first_name}}</p><br/>
                        <p> Last Name: {{staff.last_name}}</p>
                      </div>
                    </div>
                    <!-- /.card-body -->
                    
                            
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a class="btn btn-primary" href="{% url 'adminstaff' %}"> Go Back</a><br/>
                                        </div>
                                        <div class="col-md-2">
                                            <form method="POST">
                                            {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Delete Staff</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                              
                        
                  
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->


          </div>
          <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

{% endblock %}