{% extends 'base.html' %}
{% load static %}


{% block content %}
 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>Register</h2>
           <ol class="breadcrumb">
            <li><a href="#">Home</a></li>            
            <li class="active">Register</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-6">        
                <!-- start respond form -->
                <div class="row">
                  <div class="col-md-12">
                    <div>
                      <h3 class="reply-title">Register:</h3><hr>
                      {% for message in messages %}
                      <p class="text-danger">Error: {{message}}</p>
                      {% endfor %}
                      <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <p class="form-submit">
                          <input type="submit" value="Register" class="mu-post-btn" name="submit">
                        </p>        
                      </form>
                    </div>
                  </div>
                </div>
                <!-- end respond form -->
              </div> 
              <div class="col-md-3">
              </div>  
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

{% endblock %}